body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: monospace;
    font-style: normal;
}

main {
    flex: 1 0 auto;
}

.page-footer{
    padding-top: 0;
}

.modal {
   width: 90%;
}

label{
    font-size: 1.4rem;
    color: black;
}
